/* Reset básico para remover margens e padding padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Barra do header */
header {
    width: 100%;
    background-color: #e9151579; /* Cor de fundo rosa */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Ajuste a altura conforme necessário */
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
}

.card-header img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 20px;
}

.card-body h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
    color: #333;
}

.card-body p {
    margin: 5px 0;
    color: #666;
    font-size: 16px;
}

.card-form {
    padding: 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #eee;
}

.card-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-form label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    color: #333;
    width: 100%;
}

.card-form input,
.card-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.card-form button {
    padding: 10px;
    background-color: #e9151579;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.card-form button:hover {
    background-color: rgb(13, 75, 26)79;
}
